[H[J
{{.Name -}}{{.Nl}}
--------------------------------------------------------------------------------{{.Nl}}
Strength:	{{.Str.Val}}	+{{.Str.Modifier}}{{.Nl}}
Intelligence:	{{.Int.Val}}	+{{.Int.Modifier}}{{.Nl}}
Dexterity:	{{.Dex.Val}}	+{{.Dex.Modifier}}{{.Nl}}
--------------------------------------------------------------------------------{{.Nl}}
Health:		{{.Health.Val}}/{{.Health.BaseVal}}{{.Nl}}
{{.HealthMeter}}{{.Nl}}
--------------------------------------------------------------------------------{{.Nl}}
Focus:		{{.Focus}}/{{.MaxFocus}}{{.Nl}}
--------------------------------------------------------------------------------{{.Nl}}
Iniative:	{{.Initiative}}{{.Nl}}
--------------------------------------------------------------------------------{{.Nl}}
--------------------------------------------------------------------------------{{.Nl}}
Conditions:{{.Nl}}
{{ range $key, $value := .Conditions }}
{{ $key }}
{{ end }}

