[H[J
Name:	{{.Name}}

Attribute:	Score:	Modifier:
--------------------------------------------------------------------------------
Strength:	{{.Str.Val}}	+{{.Str.Modifier}}
Intelligence:	{{.Int.Val}}	+{{.Int.Modifier}}
Dexterity:	{{.Dex.Val}}	+{{.Dex.Modifier}}
--------------------------------------------------------------------------------
Health:		{{.Health.Val}}/{{.Health.BaseVal}}
{{.HealthMeter}}
--------------------------------------------------------------------------------
Focus:		{{.Focus}}/{.MaxFocus}}
--------------------------------------------------------------------------------
Iniative:	{{.Initiative}}
