

Name:	{{.Name}}
________________________________________________________________________________
Strength:	{{.Str.Val}}
Intelligence:	{{.Int.Val}}
Dexterity:	{{.Dex.Val}}

________________________________________________________________________________
Health:		{{.Health.Val}}

________________________________________________________________________________
Focus:		{{.Focus}}
